
- 10.times do |index|
  %blockquote.twitter-tweet{lang: "en"}
    %p{id: "tweet#{index}text"} 

    \— 
    %span{id: "tweet#{index}name"} 
    %span{id: "tweet#{index}handle"}
    %a{id: "tweet#{index}url", href: ""} 
      %span{id: "tweet{index}date"}
  %script{async: "", charset: "utf-8", src: "//platform.twitter.com/widgets.js"}

:javascript
  $(document).ready(function(){
    function refreshStream(){
      TweetStreamUI.refresh();
    }
    function pullTweets(){
      TweetStreamUI.getTweets();
    }
    window.setInterval(refreshStream(),1000);
    window.setInterval(pullTweets(),4900);
  });