%h1 Forgot Password Page
.user-message#user-message-error{ style: "display:none;" }
  %ul
    %li.messages.user-error
      %p
        Please review your form for issues and re-submit.
= if params[:success]
  .user-message#user-message-success
    %ul
      %li.messages.user-success
        %p
          Your password has been reset!
%form.container.text-center
  %br
  - if !params[:success]
    %input#id{ type: "hidden", value: @user.id}
    %input#password.required_field.text-center{ type: "password", placeholder: "Password" }
    %ul.errorlist#password_errorlist{ style: "display:none;" }
      %li
        Please enter a password with at least 8 characters, 1 number, and 1 symbol.
    %br
    %input#password_confirmation.required_field.text-center{ type: "password", placeholder: "Password Confirmation" }
    %ul.errorlist#password_exists_errorlist{ style: "display:none;" }
      %li
        Please ensure your password confirmation matches your password.
    %br
    %input#submit.btn.btn-primary.text-center{ type: "button", value: "Submit"}
:javascript
  $(document).ready(function(){
    function formSubmit(){
      TweetStreamPasswordReset.resetPassword();
    }
    $('input#submit').on('click', formSubmit);
  });
