.user-message.text-center#user-message-error{ style: "display:none;" }
  %ul
    %li.messages.user-error
      %p
        Please review your form for issues and re-submit.
%br
%form.container.text-center
  %input#first_name.required_field{ type: "text", placeholder: "First Name" }
  %ul.errorlist#first_name_errorlist{ style: "display:none;" }
    %li 
      Please enter your first name.
  %br
  %input#last_name.required_field{ type: "text", placeholder: "Last Name" }
  %ul.errorlist#last_name_errorlist{ style: "display:none;" }
    %li 
      Please enter your last name.
  %br
  %input#email.required_field{ type: "text", placeholder: "Email Address" }
  %ul.errorlist#email_errorlist{ style: "display:none;" }
    %li 
      Please enter a correct email address.
  %ul.errorlist#user_exists_errorlist{ style: "display:none;" }
    %li 
      There is already an account created with this email address.
  %br
  %input#password.required_field{ type: "password", placeholder: "Password" }
  %ul.errorlist#password_errorlist{ style: "display:none;" }
    %li 
      Please enter a password with at least 8 characters, 1 number, and 1 symbol.
  %br
  %input#password_confirmation.required_field{ type: "password", placeholder: "Password Confirmation" }
  %ul.errorlist#password_confirmation_errorlist{ style: "display:none;" }
    %li 
      Please ensure your password confirmation matches your password.
  %br
  %br
  %input#submit.btn.btn-primary{ type: "button", value: "Register"}
  %ul.errorlist#form_errorlist{ style: "display:none;" }
    %li 
      Please fix the above form issues before proceeding and submitting.
:javascript
  $(document).ready(function(){
    function formSubmit(){
      TweetStreamUser.submit();
    }
    $('input#submit').on('click', formSubmit);
  });
