%h1.text-center New user
= if params[:success]
  .user-message#user-message-success
    %ul
      %li.messages.user-success
        %p
          Your user account has been created! A confirmation email has been sent.

= render 'form'
