%h1 New user

= if @success
  .user-message#user-message-success
    %ul
      %li.messages.user-success
        %p
          Thanks for your request! We'll get back to you as soon as possible.

= render 'form'
