// Place all the styles related to the stream controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweet-stream{
  a.tweet {
    font-family: "Proxima Nova", Arial,sans-serif;
    border: solid;
    border-radius: 5px;
    margin: 20px 10px 0 10px;
    width: 550px;
    max-height: 75px;
    float:left;
    &:hover {
      color: white;
      background-color: #55ACEE;
    }
    img {
      display: block;
      float: left;
      width: 64px;
      height: 64px;
      padding: 5px 10px 5px 5px;
    }
    .tweet-info{
    	padding: 0 0 5px 0;
    	.tweet-time{
        font-size: 0.8em;
        float: right;
        padding-right: 5px;
      }
      .tweet-username{
        color: #66757f;
      }
      .tweet-handle{
        color: #292f44;
      }
    }
  }
  .tweet-inactive{
    display: none;
  }
  .tweet-active{
    display: block;
  }
}
div.leftCol {
  width:20%;
  float:left;
}

div.rightCol {
  width:80%;
  float:right;
}

div.tweets {
  width:100%;
  clear:both;
}

#map {
  width:80%;
  height:60%;

}
.gmnoprint img { max-width: none; }
