// Place all the styles related to the stream controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.leftCol {
  width:20%;
  float:left;
}

div.rightCol {
  width:80%;
  float:right;
}

div.tweets {
  width:100%;
  clear:both;
}

#map {
  width:80%;
  height:60%;

}
.gmnoprint img { max-width: none; }
