// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-message{
  ul{
    list-style: none;
  }
}

ul {
  &.errorlist{
    color: #c94435;
    list-style: none;
    margin-bottom: 0px;
  }
  li{
    line-height:12px; 
  }
}
.tweetstream-header {
  background-color: #4099FF;
  width:100%;
  margin: 0px;
  padding: 0px;
  display: inline-block; 
  .logo {
    font-size: 1.5em;
  }
  .button-area {
    .header_button {
      display:block;
      float:right;
      padding: 5px;
      margin: 22px 15px 15px 15px;
    }
  }
}
