.row.span12
  %h4 Welcome to TwitterFeed
  %p Please login or create an account by authenticating with Twitter below
  %p.center
    %a{ title: "Link to sign up or create account", href: "/auth/twitter", id: "login"}
      %img{src: "https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png", alt: "Log in or sign up with Twitter", title: "Sign in with Twitter"}