%html
  %p
    Click on this link to verify your account!
  = link_to ("http://" + Rails.configuration.host_url + "/users/confirm?id=" + @confirm_hash), ("http://" +Rails.configuration.host_url + "/users/confirm?id=" + @confirm_hash)
